<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cocktails</title>
</head>

<body>
    <h1><%=title%></h1>
    <nav>
        <a href="/"> all </a>
        <% for (let i=0; i < alcoholList.length; i++) { %>
            <a href="/?alcohol=<%=alcoholList[i]%>">
                <%= alcoholList[i] %>
            </a>
            <% } %>
    </nav>

    <table>
        <th>Name</th>
        <th class="price">Price</th>
        <% for (let i=0; i < cocktails.length; i++) { %>
            <% if (cocktails[i].isAlcoholic==false) { %>
                <tr>
                    <td>
                        <%=cocktails[i].name + ' (non-alcoholic)' %>
                            <br>
                            <%= cocktails[i].contains%>
                    </td>
                    <td class="price">
                        <%= cocktails[i].price %>
                    </td>
                    <% } else { %>
                </tr>
                <td>
                    <%=cocktails[i].name%>
                        <br>
                        <%= cocktails[i].contains%>
                </td>
                <td class="price">
                    <%= cocktails[i].price %>
                </td>
                <% } %>
                    <% } %>
    </table>
</body>

</html>