<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Weather</title>
</head>

<body>
    <% for (let i=0; i < forecasts.length; i++){ %>
        <a href="/?city=<%=forecasts[i].city%> ">
            <div class='container'>
                <div class='first_column'>
                    <%= forecasts[i].city %>
                        <br>
                        <%= forecasts[i].helyszin %>
                </div>
                <div class='second_column'>
                    <%= forecasts[i].idojaras[0].homerseklet %>
                </div>
                <div class='third_column'>
                    <img src="static/<%= forecasts[i].idojaras[0].icon %>.png">
                </div>
            </div>
        </a>
        <% } %>
</body>

</html>